extends layouts/main

block content
    h1= title
    p Welcome to #{title}, #{name}


    ul(id=obfuscators class=obf_list)
        each obf in obfuscators
            li
                label #[input(type="checkbox")] #{obf}

    ul(class=obf_list)
        each deobf in deobfuscators
            li
                label #[input(type="checkbox")] #{deobf}
